.user-list {
    height: 99%;
    margin: 0 1em 0 1em;
    /* padding: 0 1em 0 1em; */
    border: 1px solid black;

    display: flex;
    flex-flow: column;
}

.user-list h3 {
    border: 1px solid black;
    margin: 0.3em;
    padding: 1em;
}

.user-list .user-wrapper {
    flex: 1 1 auto;
    overflow-y: auto;
}

.user-list .row {
    padding: 0.2em 0 0.2em 0.5em;
    font-size: 1.1em;
    user-select: none;
}

.user-list .selected {
    background-color: orange;
    color: black;    
}

.user-list .row:hover {
    background-color: lightgray;
}