:root {
  --redux-color: #764abc;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.root {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.App {
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    display: flex;
    width: 100%;
}

.controllerBar {
    margin: 0.2em 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.wrapper {
    display: flex;
}

.span {
    margin-left: 0.1em;
}

.list {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    justify-content: center;
    margin: 1em;
}

.spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner h4 {
  margin: 5px;
}


.app-content {
    flex: 1 1 auto;
    width: 100%;
    max-width: var(--max-width);

    height: 100%;
    display: flex;
    flex-flow: column;
}

.labelWithInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0.3em 0 0.3em 0;
}

.fieldlabel {
    display: inline-block;
    min-height: 100%;
    align-items: center;
    padding-right: 1em;
    height: 100%;
}
.error {
    color: black;
    background: red;
    border: 1px solid black;
    border-radius: 1em;
    padding: 0.3em 1em 0.3em 1em;
    margin: 1em;
    font-size: 2em;
}

.users-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
}

.user-row {
    display: flex;
    flex-flow: row;
    width: 100%;
    line-height: 3em;
    margin: 0.1em 0 0.1em 0;
    border: 1px solid black;
}
.user-column {
    display: flex;
    flex: 1 1 auto;
}

.profile-label {
    padding: 1em 0 0.5em 0;
}



















/* https://projects.lukehaas.me/css-loaders/ , Loader #3 */
.loader {
  font-size: 10px;
  margin: 10px;
  /* text-indent: -9999em; */
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: var(--redux-color);
  background: -moz-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -o-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -ms-linear-gradient(
    left,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    var(--redux-color) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}


.loader:before {
  width: 50%;
  height: 50%;
  background: var(--redux-color);
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}